.field {
  width: 100%; 
  height: 100%;
  padding: 400px 400px;
}

.hexsCont{
  border: 5px var(--grid-c) solid;
  border-width: 0;
}
.hexagon-visible{
  --bgc: var(--visible-hex-bgc);
  opacity: 1;
  z-index: 3; 
  filter: drop-shadow(5px 5px 3px rgba(68, 68, 68, 0.3));
}
.hexagon-visible .polygon{
  stroke-width: 0;
}
.hexagon-active{
  --bgc: var(--main-c);
  z-index: 10;
}
.hexagon-first{
  transform: scale(.98);
}
.hexagon-visible:hover, .hexagon-active{
  /* transform: scale(.92); */
  filter: drop-shadow(6px 6px 3px rgba(68, 68, 68, 0.4));
  transform: scale(.9) translate(-1px, -1px);
}
.hexagon-first:hover, .hexagon-first.hexagon-active{
  transform: scale(.98) translate(-1px, -1px);
  /* transform: scale(1.02); */
}
.hexagon-lineCont{
  height: calc(var(--triangle-height) * 2 + var(--body-height));
  width: var(--hexagon-width);
  position: absolute;
  /* bottom: calc(0px - var(--triangle-height)); */
  bottom: 0;
  right: 0;
  z-index: 4;
  pointer-events: none;
  transition: inherit;
  overflow: visible;
}
.hexagon-line{
  stroke-width: 2.5px;
  stroke: var(--highlight-line-c);
  transition: inherit;
  opacity: 0;
}
.hexagon-line#l6, .hexagon-line#l3{
  stroke-width: 2.5px;
}
.hexagon-num{
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: var(--body-bgc);
  
  color: var(--black-c);
  border: 1px var(--main-c) solid;
  position: absolute;
  top: calc(var(--triangle-height) - 8px);
  right: -4px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 5;
}
.hexagon-visible .hexagon-num{
  opacity: 1;
}
.founded-polygon{
  overflow: visible;
  z-index: 10;
  filter: brightness(120%);
}




.hexagon-visible.hexagon-bordered .polygon{
  stroke: var(--hex-stroke-c);
  stroke-width: 2px;
}
.hexagon-turned .hexagon-editedField{
  /* transform: rotate(270deg);
  height: calc(var(--hexagon-width) - 2px);
  width: calc(var(--body-height) - 2px);
  bottom: unset;
  left: var(--body-height);
  left: 0; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.hexagon-turned .hexagon-num{
  transform: rotate(-90deg);
  left: calc(var(--hexagon-width) / 2 - 18px / 2);
  top: 0;
  right: unset;
}
.hexagon-turned.hexagon-innerNum .hexagon-num{
  top: unset;
  bottom: calc(var(--triangle-height) + 4px);
  left: 6px;
}
.hexagon-innerNum .hexagon-num{
  width: min-content;
  height: auto;
  border: none;
  background-color: transparent;
  color: var(--body-bgc);
  top: calc(var(--triangle-height) + 6px);
  left: 4px;
  font-size: .94em;
}
.hexagon-innerNum .hexagon-num::after{
  content: '.';
}
.hexagon-innerNum .hexagon-editedField{
  text-indent: 22px
}
.hexagon-innerNum .hexagon-editedField:focus{
  text-indent: 0;
}
.hexagon-rounded polygon{
  border-radius: 20px;
}

.hexagon-about{
  background: var(--about-bgc);
  color: var(--black-c);
  width: 380px;
  min-height: 100px;
  max-height: 450px;
  position: absolute;
  top: calc(var(--triangle-height) + 5px);
  z-index: 10;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  transition: inherit;
  user-select: text;
}
.hexagon-about:focus{
  outline: none;
  border: none;
}





.find{
  margin: 0;
  width: unset;
  margin-right: 5px;
}
.find *{
  width: unset;
}




.settings{
  height: 70%;
  width: unset;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-bottom: calc(1.5em + 5px * 2 + 25px); */
  position: relative;
}
.settings-title{
  margin-bottom: 10px;
}
.settings-cont{
  overflow: auto;
  margin-bottom: 10px;
}
.settings-button{
  width: min-content;
}
.settings-close{
  transform: rotate(45deg);
  width: 17px;
  height: 17px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 12;
}
.settings-grid{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.font-cont,
.other-cont{
  display: flex;
  flex-wrap: wrap;
}
.font-cont * {
  margin: 0;
}
.font-wrong{
  display: flex;
  align-items: center;
}
.dColor-cont{
  display: flex;
  align-items: center;
  position: relative;
}
.dColor-label{
  margin-right: 5px;
}
.plus-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5px; */
}
.settings-minus{
  /* width: 10px; */
  margin-bottom: 5px;
  margin-left: 5px;
}
.settings-overline{
  position: absolute;
  width: 100%;
  left: 0;
  margin-right: 0;
}
.settings-close,
.settings-minus,
.settings-plus{
  stroke: var(--main-c);
  stroke-width: 1.5px;
  border-radius: 50%;
  cursor: pointer;   
}
.settings-minus:hover,
.settings-plus:hover{
  transform: scale(1.04);
}
.font-input-cont,
.check-cont{
  /* padding-top: 5px; */
  display: flex;
  align-items: center;
  flex: none;
  padding-right: 10px;
}
.check-cont *{
  cursor: pointer;
}
.check-input{
  width: 20px;
  height: 20px;
  margin-left: 7.5px;
}

@media(max-width: 800px){
  .settings-grid{
    grid-template-columns: 1fr 1fr;
  }
}