*{
  scrollbar-width: none;
  --webkit-scrollbar-width: none;
  outline: none;
}
*:focus{
  outline: none;
}
*::-webkit-scrollbar{
  display: none;
}
html{
  overflow: hidden;
}

.field {
  /* width: 100%; 
  height: 100%; */
  overflow: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  display: block;
}

.hexsCont{
  border: 5px var(--grid-c) solid;
  border-width: 0;
  width: max-content;
  height: max-content;
  padding: 400px;
  transform-origin: bottom right;
  position: relative;
  transition-property: none;
  /* transition-duration: 6s; */
}
.hexagon-visible{
  --bgc: var(--visible-hex-bgc);
  opacity: 1;
  z-index: 3; 
  filter: drop-shadow(5px 5px 3px rgba(68, 68, 68, 0.3));
}
.hexagon-visible .polygon{
  stroke-width: 0;
}
.hexagon-active{
  --bgc: var(--main-c);
  z-index: 10;
}
.hexagon-first{
  /* transform: scale(.98); */
}
.hexagon-visible:hover, .hexagon-active{
  /* transform: scale(.92); */
  filter: drop-shadow(6px 6px 3px rgba(68, 68, 68, 0.4));
  /* transform: scale(.9) translate(-1px, -1px); */
}
.hexagon-first:hover, .hexagon-first.hexagon-active{
  /* transform: scale(.98) translate(-1px, -1px); */
  /* transform: scale(1.02); */
}
.hexagon-num{
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: var(--body-bgc);
  
  color: var(--black-c);
  border: 1px var(--main-c) solid;
  position: absolute;
  top: calc(var(--triangle-height) - 8px + var(--pad));
  right: calc(-4px + var(--pad));
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 6;
}
.hexagon-visible .hexagon-num{
  opacity: 1;
}
.founded-polygon{
  overflow: visible;
  z-index: 10;
  filter: brightness(120%);
}




.hexagon-visible.hexagon-bordered .polygon{
  stroke: var(--hex-stroke-c);
  stroke-width: 2px;
}
.hexagon-turned .hexagon-editedField{
  /* transform: rotate(270deg);
  height: calc(var(--hexagon-width) - 2px);
  width: calc(var(--body-height) - 2px);
  bottom: unset;
  left: var(--body-height);
  left: 0; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.hexagon-turned .hexagon-num{
  transform: rotate(-90deg);
  left: calc(var(--hexagon-width) / 2 - 18px / 2 + var(--pad));
  top: var(--pad);
  right: unset;
}
.hexagon-turned.hexagon-innerNum .hexagon-num{
  top: unset;
  bottom: calc(var(--triangle-height) + 4px + var(--pad));
  left: 6px;
}
.hexagon-innerNum .hexagon-num{
  width: min-content;
  height: auto;
  border: none;
  background-color: transparent;
  color: var(--body-bgc);
  top: calc(var(--triangle-height) + 6px + var(--pad) / 2);
  left: calc(4px + var(--pad));
  font-size: .94em;
}
.hexagon-innerNum .hexagon-num::after{
  content: '.';
}
.hexagon-innerNum .hexagon-editedField{
  text-indent: 22px;
}
.hexagon-rounded polygon{
  border-radius: 20px;
}

.hexagon-editedField{
  height: unset;
  width: unset;
  max-width: calc(var(--hexagon-width) - 2px);
  max-height: calc(var(--body-height) - 2px);
}
.hexagon-editedField:focus{
  height: unset;
  width: unset;
}
.hexagon-editedField:hover{
  text-decoration: underline;
}

.hexagon-about{
  background: var(--about-bgc);
  color: var(--black-c);
  min-width: 380px;
  min-height: 100px;
  max-height: var(--max-about-height);
  position: absolute;
  top: calc(var(--triangle-height) + 5px);
  z-index: 10;
  overflow: auto;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  transition: inherit;
  user-select: text;
}
.hexagon-about:focus{
  outline: none;
  border: none;
}
.hexagon-about-drag{
  filter: brightness(1.2);
}
.hexagon-about-content{
  width: 100%;
  height: 100%;  
  min-height: 50px;
}
.hexagon-about-content *{
  background-color: transparent;
  color: var(--black-c);
}
.hexagon-about-content img{
  width: 100%;
}

.about-loading{
  background-color: var(--about-bgc);
  position: absolute;
  top: 0;
  left: 0;
}
.about-loading-svg{
  width: 50px;
}





.find{
  margin: 0;
  width: unset;
  margin-right: 5px;
}
.find *{
  width: unset;
}
@media(max-width: 410px){
  .find-input{
    width: 100px;
  }
}




.settings{
  height: 70%;
  width: unset;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-bottom: calc(1.5em + 5px * 2 + 25px); */
  position: relative;
  margin: 0 5vw;
}
.settings-title{
  margin-bottom: 10px;
}
.settings-cont{
  overflow: auto;
  margin-bottom: 10px;
}
.complaint-close,
.settings-close{
  transform: rotate(45deg);
  width: 17px;
  height: 17px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 12;
}
.settings-grid{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.font-cont,
.other-cont{
  display: flex;
  flex-wrap: wrap;
}
.font-cont * {
  margin: 0;
}
.font-wrong{
  display: flex;
  align-items: center;
}
.dColor-cont{
  display: flex;
  align-items: center;
  position: relative;
}
.dColor-label{
  margin-right: 5px;
}
.plus-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5px; */
}
.settings-minus{
  /* width: 10px; */
  margin-bottom: 5px;
  margin-left: 5px;
}
.settings-overline{
  position: absolute;
  width: 100%;
  left: 0;
  margin-right: 0;
}
.complaint-close,
.settings-close,
.settings-minus,
.settings-plus{
  stroke: var(--main-c);
  stroke-width: 1.5px;
  border-radius: 50%;
  cursor: pointer;   
}
.settings-minus:hover,
.settings-plus:hover{
  transform: scale(1.04);
}
.check-cont{
  margin-bottom: 5px;
}
.font-input-cont,
.check-cont{
  /* padding-top: 5px; */
  display: flex;
  align-items: center;
  flex: none;
  padding-right: 10px;
  position: relative;
}
.check-cont::after{
  content: '';
  width: calc(100% - 10px);
  border-top: 1px solid var(--main-c);
  position: absolute;
  bottom: 0;
  left: 0;
}
.check-cont *{
  cursor: pointer;
}
.check-input{
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
}
.check-custom{
  width: 20px;
  height: 20px;
  margin: 4px;
  margin-left: 7.5px;
  background-color: var(--body-bgc);
  border: 1px solid var(--main-c);
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-svg{
  fill: none;
  stroke: var(--dark-main-c);
  stroke-width: 200px;
  fill-rule: evenodd;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: check .13s ease forwards;
}
.check-svg-beforeDelete{
  animation: checkDelete .13s ease forwards;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
}
.short-text-cont *{
  cursor: unset;
}
.short-text-input{
  margin: 4px;
  margin-left: 7.5px;
  width: 3em;
}
@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes checkDelete {
  to {
    stroke-dashoffset: 3000;
  }
}


@media(max-width: 960px){
  .settings-grid{
    grid-template-columns: 1fr 1fr;
  }
}


.complaint{
  height: auto;
  position: relative;
}
.complaint-title{
  margin-right: 100px;
}
#complaint-text{
  min-width: 200px;
  max-width: 500px;
  width: calc(100% - 20px);
  height: 140px;
  resize: vertical;
}


.row{
  border-left: 5px var(--grid-c) solid;
  border-right: 5px var(--grid-c) solid;
  --pad: 5px;
}
.row-first{
  border-top: 5px var(--grid-c) solid;
}
.row-last{
  border-bottom: 5px var(--grid-c) solid;
}
#r1{
 border: none;
}