*{
  scrollbar-width: none;
  --webkit-scrollbar-width: none;
  outline: none;
}
*:focus{
  outline: none;
}
*::-webkit-scrollbar{
  display: none;
}
html{
  overflow: hidden;
}

.field {
  /* width: 100%; 
  height: 100%; */
  overflow: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  display: block;
  position: relative;
}
.field.active,
.field.active .hexsCont{
  cursor: grabbing;
}
.scroll-btns{
  position: fixed;
  left: 10px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.scroll-btn{
  --size: 2em;
  height: var(--size);
  width: var(--size);
  stroke-width: 1.5px;
  stroke: var(--main-c);
  margin: 10px;
  cursor: pointer;
}

.hexsCont{
  border: 5px var(--grid-c) solid;
  border-width: 0;
  width: max-content;
  height: max-content;
  padding: 400px;
  transform-origin: bottom right;
  position: relative;
  will-change: transform;
  transition: none;
  touch-action: pan-x pan-y !important;
  /* touch-action: auto !important; */
}
.hexsCont *{
  cursor: inherit;
}
.hexagon-visible{
  --bgc: var(--main-c);
  opacity: 1;
  z-index: 3; 
  filter: drop-shadow(5px 5px 3px rgba(68, 68, 68, 0.3));
}
.hexagon-visible .polygon{
  stroke-width: 0;
}
.hexagon-active{
  --bgc: var(--main-c);
  z-index: 10;
}
.hexagon-first .polygon{
  transform: scale(1.04);
}
.hexagon-first .hexagon-num{
  transform: translateX(5px);
}
.hexagon-visible:hover, .hexagon-active{
  /* transform: scale(.92); */
  filter: drop-shadow(6px 6px 3px rgba(68, 68, 68, 0.4));
  /* transform: scale(.9) translate(-1px, -1px); */
}
.hexagon-num{
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: var(--body-bgc);
  
  color: var(--black-c);
  border: 1px var(--main-c) solid;
  position: absolute;
  top: calc(var(--triangle-height) - 8px + var(--pad));
  right: calc(-4px + var(--pad));
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 6;
}
.hexagon-visible .hexagon-num{
  opacity: 1;
}
.founded-polygon, .hexagon-drag{
  overflow: visible;
  z-index: 9;
  filter: brightness(120%);
}




.hexagon-visible.hexagon-bordered .polygon{
  stroke: var(--hex-stroke-c);
  stroke-width: 2px;
}
.hexagon-turned .hexagon-editedField{
  /* transform: rotate(270deg);
  height: calc(var(--hexagon-width) - 2px);
  width: calc(var(--body-height) - 2px);
  bottom: unset;
  left: var(--body-height);
  left: 0; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.hexagon-turned .hexagon-num{
  transform: rotate(-90deg);
  left: calc(var(--hexagon-width) / 2 - 18px / 2 + var(--pad));
  top: var(--pad);
  right: unset;
}
.hexagon-turned.hexagon-innerNum .hexagon-num{
  top: unset;
  bottom: calc(var(--triangle-height) + 4px + var(--pad));
  left: 6px;
}
.hexagon-innerNum .hexagon-num{
  width: min-content;
  height: auto;
  border: none;
  background-color: transparent;
  color: var(--white-c);
  top: calc(var(--triangle-height) + 6px + var(--pad) / 2);
  left: calc(4px + var(--pad));
  font-size: .94em;
}
.hexagon-innerNum .hexagon-num::after{
  content: '.';
}
.hexagon-innerNum .hexagon-editedField{
  text-indent: 22px;
}
.hexagon-rounded polygon{
  border-radius: 20px;
}

.hexagon-editedField{
  height: unset;
  width: unset;
  max-width: calc(var(--hexagon-width) - 2px);
  max-height: calc(var(--body-height) - 2px);
}
.hexagon-editedField:focus{
  height: unset;
  width: unset;
}
.hexagon-editedField:hover{
  text-decoration: underline;
}

.hexagon-about{
  background: var(--about-bgc);
  color: var(--black-c);
  width: 420px;
  min-height: 100px;
  max-height: var(--max-about-height);
  
  position: absolute;
  top: calc(var(--triangle-height) + 5px);
  z-index: 10;
  overflow: auto;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  transition: inherit;
  user-select: text;
  font-size: .97em;
}
.hexagon-about:focus{
  outline: none;
  border: none;
}
.hexagon-about-drag{
  filter: brightness(1.2);
}
.hexagon-about-content{
  width: 100%;
  height: 100%;  
  min-height: 50px;
  white-space: pre-wrap;
  user-select: contain;
}
.hexagon-about-content *{
  background-color: transparent;
  color: var(--black-c);
}
.hexagon-about-content *:first-child{
  margin-top: 0;
}
.hexagon-about img{
  max-width: 100%;
}
.hexagon-about-images{
  overflow: hidden;
  width: 100%;
  position: relative; 
}
.hexagon-about-images-slider{
  display: flex;
  overflow-x: scroll;
  height: 100%;
}
.hexagon-about-images-imgCont{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  flex: none;
  overflow: hidden;
  box-sizing: border-box;
  padding: calc(var(--size) + var(--arrow-pad) * 2);
  background-color: var(--body-bgc);
}
.hexagon-about-images img{
  width: 100%;
  max-width: var(--about-image-width);
  max-height: 100%;
  margin: 0;
}
.hexagon-about-images-bullet,
.hexagon-about-images-switch{
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}
.hexagon-about-images-switch{
  fill: var(--main-c);
  position: absolute;
  bottom: calc(50% - var(--size) / 2);
}
.hexagon-about-images-switch-disabled{
  opacity: .4;
  cursor: default;
}
.hexagon-about-images-prev{
  left: var(--arrow-pad);
  transform: rotate(180deg);
}
.hexagon-about-images-next{
  right: var(--arrow-pad);
}
.hexagon-about-images-bullets{
  position: absolute;
  bottom: var(--arrow-pad);
  height: var(--size);
}
.hexagon-about-images-bullet{
  stroke: var(--main-c);
  fill: transparent;
  stroke-width: .4em;
  margin-right: var(--arrow-pad);
}
.hexagon-about-images-bullet:last-child{
  margin: 0;
}
.hexagon-about-images-active-bullet{
  fill: var(--main-c);
}

.hexagon-about-comments-cont{
  padding-bottom: 5px;
  min-height: 50px;
  overflow-y: auto;
  max-height: 70vh;
}
.hexagon-about-comments-empty{
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.24; 
  text-align: center;
}
.hexagon-about-comments-form{
  padding-top: 10px;
  margin-top: 5px;
  min-height: 50px;
  border-top: 1px solid var(--main-c);
}
.hexagon-about-comments-input{
  resize: vertical;
  width: calc(100% - 20px);
  margin-top: 5px;
}
.hexagon-about-comment{
  --underline-color: var(--black-c);
  --size: 1em;
  position: relative;
  margin-bottom: 5px;
}
.hexagon-about-comment-user{
  opacity: .7;
  text-decoration: none;
  font-size: .95em;
  position: relative;
}
.hexagon-about-comment-user::after{
  content: '';
  width: calc(100%);
  border-top: 1.5px solid var(--underline-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
.hexagon-about-comment-body{
  margin-top: 2px;
  white-space: pre-wrap;
}
.hexagon-about-img-close,
.hexagon-about-comment-close{
  transform: rotate(45deg);
  stroke: var(--main-c);
  stroke-width: 1.5px;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0;
}
.hexagon-about-img-close{
  top: var(--arrow-pad);
  right: var(--arrow-pad);
}

.hexagon-about-controls{
  --pad: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--pad);
  padding-bottom: var(--pad);
  border-bottom: 1px solid var(--main-c);
}
.hexagon-about-controls-btns{
  display: flex;
}
.hexagon-about-btn{
  height: 100%;
  padding: 4px 12px;
  box-sizing: border-box;
  border-right: 1px solid var(--main-c);
  cursor: pointer;
}
.hexagon-about-btn:last-child{
  border-right: none;
}
.hexagon-about-btn:hover{
  opacity: .75;
}
.hexagon-about-rating{
  display: flex;
  align-items: center;
}
.hexagon-about-rating-num{
  margin: 0 5px;
}
.hexagon-about-rating-btn{
  --size: 1em;
  width: var(--size);
  height: var(--size);
  stroke: var(--main-c);
  cursor: pointer;
}
.hexagon-about-rating-plus:hover{
  transform: scale(1.05);
}
.about-loading{
  background-color: var(--about-bgc);
  position: absolute;
  top: 0;
  left: 0;
}
.about-loading-svg{
  width: 50px;
}




.icon{
  width: 100px;
  fill: var(--dark-main-c);
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  opacity: .2;
  pointer-events: none;
}




.find{
  margin: 0;
  width: unset;
  margin-right: 5px;
}
.find *{
  width: unset;
}
@media(max-width: 410px){
  .find-input{
    width: 100px;
  }
}


.moveModal{
  position: relative;
}

.moveModal-title{
  margin-bottom: 15px;
}
.moveModal-select{
  margin-bottom: 10px;
}




.settings{
  height: 70%;
  width: min-content;
  max-width: unset;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-bottom: calc(1.5em + 5px * 2 + 25px); */
  position: relative;
  margin: 0 5vw;
}
.settings-title{
  margin-bottom: 10px;
}
.settings-cont{
  overflow: auto;
  margin-bottom: 10px;
}
.moveModal-close,
.complaint-close,
.settings-close{
  transform: rotate(45deg);
  width: 17px;
  height: 17px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 12;
  stroke: var(--main-c);
  stroke-width: 1px;
  cursor: pointer;
}
.settings-grid{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
}
.font-cont,
.other-cont{
  display: flex;
  flex-wrap: wrap;
}
.font-cont * {
  margin: 0;
}
.font-wrong{
  display: flex;
  align-items: center;
}
.dColor-cont{
  display: flex;
  align-items: center;
  position: relative;
}
.dColor-label{
  margin-right: 5px;
}
.plus-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5px; */
}
.settings-minus{
  /* width: 10px; */
  margin-bottom: 5px;
  margin-left: 5px;
}
.settings-overline{
  position: absolute;
  width: 100%;
  left: 0;
  margin-right: 0;
}
.complaint-close,
.settings-close,
.settings-minus,
.settings-plus{
  stroke: var(--main-c);
  stroke-width: 1.5px;
  border-radius: 50%;
  cursor: pointer;   
}
.settings-minus:hover,
.settings-plus:hover{
  transform: scale(1.04);
}
.check-cont{
  margin-bottom: 5px;
}
.font-input-cont,
.font-input-cont,
.check-cont{
  /* padding-top: 5px; */
  display: flex;
  align-items: center;
  flex: none;
  padding-right: 10px;
  position: relative;
}
.check-cont::after{
  content: '';
  width: calc(100% - 10px);
  border-top: 1px solid var(--main-c);
  position: absolute;
  bottom: 0;
  left: 0;
}
.check-cont *{
  cursor: pointer;
}
.check-input{
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
}
.check-custom{
  width: 20px;
  height: 20px;
  margin: 4px;
  margin-left: 7.5px;
  background-color: var(--body-bgc);
  border: 1px solid var(--main-c);
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-svg{
  fill: none;
  stroke: var(--dark-main-c);
  stroke-width: 200px;
  fill-rule: evenodd;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: check .13s ease forwards;
}
.check-svg-beforeDelete{
  animation: checkDelete .13s ease forwards;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
}
.short-text-cont *{
  cursor: unset;
}
.short-text-input{
  margin: 4px;
  margin-left: 7.5px;
  width: 3em;
}
.font-input-cont{
  margin-bottom: 5px;
}




@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes checkDelete {
  to {
    stroke-dashoffset: 3000;
  }
}

.complaint{
  height: auto;
  position: relative;
}
.complaint-title{
  margin-right: 100px;
}
#complaint-text{
  min-width: 200px;
  max-width: 500px;
  width: calc(100% - 20px);
  height: 140px;
  resize: vertical;
}


.row{
  border-left: 5px var(--grid-c) solid;
  border-right: 5px var(--grid-c) solid;
  --pad: 6.5px;
}
.row-first{
  border-top: 5px var(--grid-c) solid;
}
.row-last{
  border-bottom: 5px var(--grid-c) solid;
}
#r1{
 border: none;
}




@media(max-width: 760px){
  .settings-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 520px){
  .settings input{
    display: block;
    width: 7em;
  }
  .scroll-btns{
    display: none;
  }
}
@media(max-width: 430px){
  .settings-grid{
    grid-template-columns: 1fr;
  }
  .hexagon-about{
    width: 98vw;
  }
}