/* user select restricts */
button, h1, h2, h3, label,
.hexagon,
.hexagon-about-controls{
    user-select: none;
}
/* user select restricts */

/* transition restricts */
p, h1, h2, h3, label{
    transition: none !important;
}
/* transition restricts */
html{
    padding: 0;
    margin: 0;
}
body {
    --aside-pad: 15vw;
    color: var(--black-c);
    background: var(--body-bgc);
    /* overflow: hidden; */
    margin: 0;  
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
}
*{
    transition: var(--trans);
    transition-property: filter, transform, opacity, visibility, color;
    font-family: var(--font), sans-serif;
}
.main{
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 45px;
    transition-duration: .3s;
    box-sizing: border-box;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 var(--aside-pad);
    overflow-y: auto;
    height: calc(100% - 20px);
}




.ask,
.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black_c);
  z-index: 11;
  display: none;
}
.ask-content,
.modal-content{
    background-color: var(--body-bgc);
    border-radius: 10px;
    padding: 20px;
    max-width: 40vw;
    min-width: 40vw;
    box-sizing: border-box;
}
.modal-content{
    width: 40vw;
    min-height: 40%;
}
.ask-title,
.modal-title{
    margin-top: 0;
    width: 100%;
    height: max-content;
    white-space: pre-wrap;
}
.ask-body,
.modal-body{
    white-space: pre-wrap;
}





button{
    box-shadow: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    font: unset;
    font-size: .88em;
    color: var(--black-c);
}
button:active{
    filter: brightness(80%);
}
textarea,
input:focus,
button:focus{
    outline: none;
}
button:hover{
    filter: brightness(95%);
}
textarea,
input{
    padding: 4px 8px;
    box-shadow: none;
    margin-bottom: 5px;
    color: var(--black-c);
    font-size: .92em;
}
label{
    color: var(--black-c);
}
h1{
    margin-top: 0;
    font-size: 2.2em;
}
a{
    color: inherit;
}


.contextmenu{
    position: fixed;
    z-index: 10;
    padding: 7.5px;
    font-size: .9em;
}
.contextmenu, button, input, textarea{
    background-color: var(--body-bgc);
    border-radius: 3px;
    border: 1px var(--main-c) solid;
    transition: all .07s linear;
}
.contextmenu * {
    cursor: pointer;
}
.contextmenu-info{
    cursor: unset;
}
.contextmenu-line{
    cursor: unset;
    margin: 4px 0;
}


.flash,
.controls{
    max-width: 95vw;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 5;
    display: flex;
}
.drop-menu{
    position: absolute;
    top: 27px;
    right: 0;
    background-color: var(--body-bgc);
    /* background-color: var(--about-bgc); */
    border-radius: 3px;
    border: 1px var(--main-c) solid;
    opacity: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.drop-menu-arrow{
    height: .7em;
    width: .9em;
    fill: var(--main-c);
    will-change: transform;
    margin-left: 5px;
}
.drop-menu-opened .drop-menu-arrow{
    transform: rotate(-90deg);
}
.drop-menu button{
    min-width: 100%;
    width: max-content;
    border-width: 0px;
    margin: 0;
    /* background-color: transparent; */
}





.row {
    --pad: calc(8px * 1.5);
    height: calc(var(--triangle-height) * 2 + var(--body-height));
    padding: var(--pad);
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: calc(0px - var(--triangle-height));
}
  
.row.row-moved {
    padding-left: calc(var(--hexagon-width) / 2 + var(--pad) * 2);
}

  
.hexagon {
    --bgc: transparent;
    box-sizing: content-box;
    position: relative;
    width: var(--hexagon-width);
    height: 100%;
    display: block;
    transition: none;
    cursor: default;
    color: var(--white-c);
    z-index: 2;
    overflow: visible;
    padding: var(--pad);
    opacity: 0;

    --webkit-scrollbar-width: none;
    scrollbar-width: none;
}
.hexagon *{
    scrollbar-width: none;
    --webkit-scrollbar-width: none;
    transition: inherit;
    opacity: inherit;
}
.hexagon::-webkit-scrollbar{
    display: none;
}
.hexagon *::-webkit-scrollbar{
    display: none;
}
.polygon{
    width: var(--hexagon-width);
    height: calc(var(--triangle-height) * 2 + var(--body-height));
    fill: var(--bgc);
    transition: inherit;
}


.hexagon-editedField{
    width: calc(var(--hexagon-width));
    height: calc(var(--body-height));
    box-sizing: border-box;
    background: var(--bgc);
    padding: 4px;
    color: var(--white-c);
    position: absolute;
    top: calc(var(--triangle-height) + var(--pad));
    border-radius: 3px;
    
    font-size: 1.07em;
    transition: inherit;
    white-space: pre-wrap;
}
.hexagon-editedField:focus{
    outline: none;
    z-index: 5;
    width: var(--hexagon-width);
    height: calc(var(--body-height) + var(--triangle-height) * 2);
}
.color-picker{
    position: absolute;
    top: 0;
    left: 0;
}


.categs{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-left:var(--categ-trH);
    padding-top: calc(var(--categ-totalH) / 2 + 10px);

    scrollbar-width: none;
    --webkit-scrollbar-width: none;
}
.categs::-webkit-scrollbar{
    display: none;
}
.categs-row{
    display: flex;
    width: max-content;
}
.categs-plus:hover{
    transform: scale(1.08);
}
.categ{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 3px rgba(68, 68, 68, 0.3));
    position: relative;
    height: var(--categ-totalH);
    width: var(--categ-totalW);
    margin-left: calc(0px - var(--categ-trH) - var(--categ-pad) / 2);
    padding: var(--categ-pad);
}
.categ:nth-child(2n){
    margin-top: calc(0px - var(--categ-totalH) / 2 - var(--categ-pad));
}
.categ .polygon{
    height: var(--categ-totalH);
    width: var(--categ-totalW);
    cursor: pointer;
    transform-origin: center;
    will-change: transform;
}
.categ:hover .polygon{
    transform: scale(1.02);
}
.categ:hover .hexagon-editedField{
    text-decoration: underline;
}
.categ .hexagon-editedField{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    height: max-content;
    width: calc(var(--categ-sideL));
    font-size: 1.3em;
    cursor: pointer;
    top: unset;
}



.new-categ-modal{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 70vw !important;
    max-width: unset;
}
.new-categ-cont{
    position: relative;
    top: var(--triangle-height);

    display: flex;
}
.new-categ-cont .categ{
    width: unset;
    height: unset;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}
.new-categ-cont .hexagon-editedField{
    top: 20px;
    z-index: 100;
}
.newCategPieces{
    /* position: absolute; */
    /* bottom: -100%; */
    max-width: 200px;
}


.footer,
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.footer{
    height: 45px;
    padding: 10px var(--aside-pad);    
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--dark-main-c);
    color: var(--white-c);
    font-size: .9em;
}
.header{
    height: 100px;
    padding: 10px var(--aside-pad);    
    position: absolute;
    top: 0;
    left: 0;
}
.header-img{
    height: 100%;
    fill: var(--dark-main-c);
}
.btns{
    display: flex;
    position: relative;
}

.main-logo{
    margin-bottom: 30px;
    fill: var(--dark-main-c);
    max-width: 420px;
    width: 100%;
    flex: none;
}

.find{
    width: 70%;
    display: flex;
    margin-bottom: 25px;
}
.find *{
    padding: 5px 10px ;
}
.find-input{
    width: 100%;
    margin: 0;
    user-select: text;
}
.find-button{
    flex: none;
    margin-left: 5px;
    background-color: var(--main-c);
    color: var(--white-c);
}



.users{
    overflow: auto;
}
.role{
    font-size: .7em;
    border: .5px var(--black-c) solid;
    padding: 3px 3px ;
    border-radius: 3px;
    opacity: .7;
    width: var(--role-size);
    box-sizing: border-box;
    text-align: center;
}
.user-in-list-cont{
    padding: 5px;
    position: relative;
}
.user-in-list-me{
    background-color: var(--me-bgc);
}
.user-in-list-legend{
    padding-bottom: 1.5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-c);
}
.user-in-list-legend::marker,
.user-in-list-legend::-moz-list-number{
    color: transparent;
}
.users-list{
    padding: 0 2em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.user-in-list{
    display: flex;
    justify-content: space-between;
}
.user-in-list-hidden .user-in-list,
.user-in-list-hidden::marker{
    opacity: .5;
}
.user-in-list-info{
    display: flex;
    width: var(--info-size);
    justify-content: space-between;
}
.user-in-list-btns{
    margin-top: 5px;
}
.user-in-list .rating{
    margin-left: 20px;
    color: var(--main-c);
}
.username{
    text-decoration: underline;
    user-select: none;
    margin-left: 10px;
}
.user-cont{
    display: flex;
    align-items: center;
    font-size: .9em;
    cursor: pointer;
    padding: 0 7.5px;
}
.complaint{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.complaint-num{
    position: absolute;
    left: 0;
}
.complaint-author{
    margin-bottom: 10px;
}
.complaint-hex{
    border-radius: 3px;
    border: 1px var(--main-c) solid;
    padding: 10px;
    margin-bottom: 10px;
}
.complaint-hex{
    width: max-content;
    min-width: 100px;
    max-width: 100vh;
}
.complaint-hex-title{
    margin-top: 0;
    margin-bottom: 12.5px;
}
.complaint-hex-title *{
    color: var(--main-c);
}
.complaint-hex-about{
    margin: 10px 0 0 0 ;
    max-height: 120px;
    overflow-y: auto;
}
.complaint-text{
    margin: 10px 0;
}




.flash{
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font: unset;
    font-size: .88em;
    opacity: 0;
    top: unset;
    bottom: 10px;
    height: max-content;
}


.user-username{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.user-title{
    margin: 0;
}
.user-rating-cont{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.user-rating-num{
    margin: 0 5px;
}
.user-rating-btn{
    --size: 1em;
    width: var(--size);
    height: var(--size);
    stroke: var(--main-c);
    cursor: pointer;
}
.user-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.user-info{
    padding: 10px;
    border: 1px solid var(--main-c);
    width: 400px;
    margin-bottom: 20px;
}
.user-info-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.user-btns{
    margin-top: 10px;
}
.user-delete{
    color: var(--red-c);
}
.user-info-item:last-child{
    margin: 0;
}
.user-chains{
    overflow: auto;
}



.hexPath-sprite{
    display: none;
  }




@media (max-width: 1150px){
    body{
        --aside-pad: 10vw;
    }
}
@media (max-width: 700px){
    .categs{
        --categ-height: calc(155px * 0.7);
        --categ-width: calc(170px * 0.7);
    }
}
@media (max-width: 850px){
    .find{
        width: 85%;
    }
}
@media (max-width: 620px){
    .find{
        width: 100%;
    }
    .main-logo{
        width: 80%;
    }
}
@media (max-width: 580px){
    body{
        --aside-pad: 5vw;
    }
    .descript{
        width: 100%;
    } 
    .complaint, .modal-content{
        width: 80vw;
    }
    .complaint-num{
        left: 3px;
    }
}
@media (max-width: 430px){
    html{
        font-size: .9em;
    }
    .ask-content,
    .modal-content{
        max-width: 90vw;
        width: max-content;
    }
}
@media (max-width: 365px){
    html{
        font-size: .81em;
    }
}

.ios *{
    filter: none !important;
    transform: none !important;
}
.ios *:focus{
    filter: none !important;
    transform: none !important;
}
.ios *:hover{
    filter: none !important;
    transform: none !important;
}