*{
    user-select: none;
    transition: all .13s linear;
    font-family: var(--font), sans-serif;
}
html{
    padding: 0;
    margin: 0;
}
body {
    color: var(--black-c);
    background: var(--body-bgc);
    /* overflow: hidden; */
    margin: 0;  
    padding: 0;

    --triangle-height: calc(var(--body-height) * (35 / 60));
    --hexagon-width: calc(var(--triangle-height) * 2 + var(--body-height));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
}
.main{
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 45px;
    transition: .3s;
    box-sizing: border-box;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.ask,
.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black_c);
  z-index: 11;
  display: none;
}
.ask-content,
.modal-content{
    background-color: var(--body-bgc);
    border-radius: 10px;
    padding: 20px;
}
.modal-content{
    width: 40%;
    height: 40%;
}
.ask-title,
.modal-title{
    margin-top: 0;
}
.modal-body{
    width: max-content;
}
.new-categ-modal{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 500px;
}




button{
    box-shadow: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    font: unset;
    font-size: .88em;
    color: var(--black-c);
}
button:active{
    filter: brightness(80%);
}
textarea,
input:focus,
button:focus{
    outline: none;
}
button:hover{
    filter: brightness(95%);
}
textarea,
input{
    padding: 4px 8px;
    box-shadow: none;
    margin-bottom: 5px;
    color: var(--black-c);
    font-size: .92em;
}
label{
    color: var(--black-c);
}
h1{
    margin-top: 0;
    font-size: 2.2em;
}
a{
    color: inherit;
}


.contextmenu{
    position: fixed;
    z-index: 9;
    padding: 7.5px;
    font-size: .9em;
}
.contextmenu, button, input, textarea{
    background-color: var(--body-bgc);
    border-radius: 3px;
    border: 1px var(--main-c) solid;
    transition: all .07s linear;
}
.contextmenu * {
    cursor: pointer;
}
.contextmenu-info{
    cursor: unset;
}
.contextmenu-line{
    cursor: unset;
    margin: 4px 0;
}


.flash,
.controls{
    max-width: 95vw;
    position: fixed;
    top: 10px;
    right: 5px;
    z-index: 5;
    display: flex;
}
.drop-menu{
    position: relative;
}
.drop-menu-svg{
    width: 27px;
    fill: var(--main-c);
    stroke-linecap: round;
    cursor: pointer;
}
.drop-menu-svg *{
    transition: .2s linear;
    transform-origin: center;
}
.drop-menu-svg:hover{
    filter: brightness(.8);
}
.drop-menu-cont{
    position: absolute;
    top: 27px;
    right: 0;
    background-color: var(--body-bgc);
    border-radius: 3px;
    border: 1px var(--main-c) solid;
    opacity: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.drop-menu-button{
    width: 100%;
    border-width: 0px;
    margin: 0;
}




.user-cont{
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: .9em;
}




.row {
    height: calc(var(--triangle-height) * 2 + var(--body-height));
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: calc(0px - var(--triangle-height));
}
  
.row.row-moved {
    padding-left: calc(var(--hexagon-width) / 2);
}

  
.hexagon {
    --bgc: transparent;
    /* box-sizing: border-box; */
    position: relative;
    width: var(--hexagon-width);
    height: 100%;
    /* background-color: var(--bgc); */
    background-clip: content-box;
    /* padding:  var(--triangle-height) 0px; */
    display: block;
    transition: inherit;
    cursor: default;
    color: var(--body-bgc);
    z-index: 2;
    overflow: visible;
    transform: scale(.9);

    scrollbar-width: none;
    --webkit-scrollbar-width: none;
}
.hexagon *{
    scrollbar-width: none;
    --webkit-scrollbar-width: none;
}
.hexagon::-webkit-scrollbar{
    display: none;
}
.hexagon *::-webkit-scrollbar{
    display: none;
}
.polygon{
    width: var(--hexagon-width);
    height: calc(var(--triangle-height) * 2 + var(--body-height));
    fill: var(--bgc);
    transition: inherit;
}


.hexagon-editedField{
    max-width: calc(var(--hexagon-width) - 2px);
    max-height: calc(var(--body-height) - 2px);
    box-sizing: border-box;
    background: var(--bgc);
    padding: 4px;
    color: var(--body-bgc);
    position: absolute;
    top: var(--triangle-height);
    border-radius: 3px;
    left: 1;
    
    font-size: .94em;
    transition: inherit;
    white-space: pre-wrap;
}
.hexagon-editedField:focus{
    outline: none;
    z-index: 5;
    width: calc(var(--hexagon-width));
    height: calc(var(--body-height) + var(--triangle-height) * 2);
    bottom: 0;
    left: 0;
}
.hexagon-editedField:hover{
    text-decoration: underline;
}
.color-picker{
    position: absolute;
    top: 0;
    left: 0;
}


.categs{
    height: 250px;
    overflow: auto;
    padding-top: var(--triangle-height)
}
.categs-plus{
    width: 40px;
    height: 40px;
    stroke: var(--main-c);
    stroke-width: 2.2px;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;   
}
.categs-plus:hover{
    transform: scale(1.1);
}
.categ .hexagon-editedField{
    cursor: pointer;
}
.categ .polygon{
    filter: drop-shadow(3px 3px 3px rgba(68, 68, 68, 0.3));
    cursor: pointer;
}
.categ:hover{
    transform: scale(.92);
}
.categ.new:hover{
    transform: scale(.9);
}
.categ.new{
    position: relative;
}
.newCategPieces{
    position: absolute;
}
.categ .hexagon-editedField{
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    color: inherit;
}



.icon{
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    opacity: .2;
    pointer-events: none;
  }


.footer{
    height: 25px;
    width: calc(100% - 30vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15vw;    
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--dark-main-c);
    color: var(--body-bgc);
}
.header{
    height: 80px;
    width: calc(100% - 30vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15vw;    
    position: absolute;
    top: 0;
    left: 0;
}
.header-img{
    height: 100%;
    fill: var(--dark-main-c);
}
.btns{
    display: flex;
}

.descript{
    width: 50vw;
    text-align: center;
}
.first-title{
    text-align: center;
}

.find{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.find *{
    padding: 5px 10px ;
}
.find-input{
    width: 100%;
    margin: 0;
    user-select: text;
}
.find-button{
    flex: none;
    margin-left: 5px;
    background-color: var(--main-c);
    color: var(--body-bgc);
}



.users{
    overflow: auto;
}
.role{
    font-size: .7em;
    border: .5px var(--black-c) solid;
    padding: 3px 3px ;
    border-radius: 3px;
    opacity: .7;
}
.user{
    margin-bottom: 5px;
}
.username{
    text-decoration: underline;
}
.complaint{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.complaint-num{
    position: absolute;
    left: 0;
}
.complaint-author{
    margin-bottom: 10px;
}
.complaint-hex{
    border-radius: 3px;
    border: 1px var(--main-c) solid;
    padding: 10px;
    margin-bottom: 10px;
}
.complaint-hex{
    width: max-content;
    min-width: 100px;
    max-width: 100vh;
}
.complaint-hex-title{
    margin-top: 0;
    margin-bottom: 12.5px;
}
.complaint-hex-title *{
    color: var(--main-c);
}
.complaint-hex-about{
    margin: 10px 0 0 0 ;
    max-height: 120px;
    overflow-y: auto;
}
.complaint-text{
    margin: 10px 0;
}




.flash{
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font: unset;
    font-size: .88em;
    opacity: 0;
    top: unset;
    bottom: 10px;
    height: max-content;
}




@media (max-width: 580px){
    .descript{
        width: 100%;
    }
    .main{
        padding-left: 10vw;
        padding-right: 10vw;
        
    }
    .app{
        padding: 0;
    }
    .complaint, .modal-content{
        width: 80vw;
    }
    .complaint-num{
        left: 3px;
    }
}
@media (max-width: 430px){
    html{
        font-size: .9em;
    }
    .main{
        padding-left: 7vw;
        padding-right: 7vw;
    }
}
@media (max-width: 365px){
    html{
        font-size: .81em;
    }
    .main{
        padding-left: 5vw;
        padding-right: 5vw;
    }
}