{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='other/FAQ.css') }}">
<script src="{{ url_for('static', filename='other/FAQ.js') }}"></script>
{% endblock %}

{% block btns %}
{% if not user %}
<button class="back" onclick="window.location.href = `{{ url_for('index') }}`">{{ _('Main') }}</button>
{% endif %}
{% endblock %}

{% block content %}
<div class="content">

    <div class="content-block">
        <h2 id='hexs'>{{_('Hexagons')}}</h2>
        <div class="text">
            <h3 id="hexsC">{{_('Creation')}}</h3>
            <p>{{_('To create *hexagon* use [contextmenu] > [create] (in desktop you can open it with right mouse button, on touch devices with long tap).Only registered users can create hexagons and make other changes to the system, which are described below')}}.
            </p>
            <hr>
            <p>{{_('*Chains* are built from hexagons, and when you create a hexagon separately from any chain, it creates a new chain. You can create an unlimited number of chains and an unlimited number of hexagons in each of your chains')}}.</p>
            <hr>
            <div>{{_('But there are a few limitations')}}:</div>
            <ul>
                <li>{{_("you can\'t continue other people\'s chains") }},</li>
                <li>{{ _('the chains must not intersect') }},</li>
                <li>{{ _('the category size is limited for performance reasons') }}.</li>
            </ul>
            <p>{{_('So if you see {red:[not here]} in context menu, you need to choose another place to create hex')}}
            </p>
            <div class="note">
                {{_('Admins can continue other people\'s chains and do other actions with artefacts in the system like owners on this artefacts')}}
            </div>
        </div>
        <div class="text">
            <h3 id="hexsD">{{_('Deletion and other actions')}}</h3>
            <p>
                {{_('All actions with hexagon you can do using [contextmenu], when right click or open it with a long press on the *hexagon*. There are short description for each action you can do')}}
            </p>
            <ul>
                <li>*translate(contextmenu.delete)*: {{ _('The information below') }} {mark:{{ _('Only creator') }}}
                </li>
                <li id="ctxmenuE">*translate(contextmenu.edit)*: {{ _('You can find help in') }} <a
                        href="#hexsU">{{ _('Updations') }}</a> {mark:{{ _('Only creator') }}}</li>
                <li id="ctxmenuS">*translate(contextmenu.send)*:
                    {{ _('When you click this button, a page opens with your chats and you can send the hexagon as an attachment.') }}
                    <a href="#msgsH">{{ _('More here') }}</a> {mark:{{ _('Register') }}}</li>
                <li id="ctxmenuC">*translate(contextmenu.copy)*:
                    {{ _('All hexs in the system have unique link and you can share some materials from Library Hexagon using this option') }}
                </li>
                <li>*translate(contextmenu.complain)*:
                    {{ _('The administration monitors the content in the system, and if you think that some hexagon is violating anything, please let us know using this button') }}
                    {mark:{{ _('Register') }}}</li>
            </ul>
            <hr>
            <p>{{_('So, about deletions. *When you delete one hexagon, the others in the chain behind it are also deleted*. This is necessary so that the structure and logic of the chains are not violated. By analogy with the creation of the first hexagon when you delete it, the entire chain along with all the content and comments in it will also be deleted')}}.</p>
        </div>
        <div class="text">
            <h3 id="hexsU">{{ _('Updations and images') }}</h3>
            <p>{{_('When you create the hexagon, you need to paste some *key word* or *drop image* into it, otherwise, it will be deleted after 30 minutes')}}.</p>
            <p>*{{ _('Paste text') }}*: <br>
                {{_('To insert text, quickly click on the hexagon twice, as you would to open a folder on your computer. You can also use the button')}}
                <a href="#ctxmenuE">translate(contextmenu.edit)</a>.<br><br>
                {{ _('The maximum number of words in the hexagon is determined by the admin for each category, usually this is *from 5 to 8 words*') }}.
            </p>
            <hr>
            <p>*{{ _('Drop image') }}*: <br>
                {{_('Use classical drag-n-drop motions: open folder with file, then drag it into the hexagon. There are some restrictions for file')}}:
                <ul>
                    <li>{{_('You need to drop *only one file*')}}</li>
                    <li>{{_('We *do not support* big files, so max file size is')}} *fileSize()*</li>
                    <li>{{_('You can drop only file with extension from this list')}}: *fileExts()*</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="content-block">
        <h2 id="about">{{ _('About pages') }}</h2>
        <div class="text">
            <h3 id="aboutCon">{{_('Content and editor')}}</h3>
            <p>
                {{_('There is your place to create arcicles or notes.')}}<br><br>
                {{_('For start typing open [About page] by clicking on the text in the hexagon and select [Content] tab (selected by default) in the opened page. Then quickly click on this page how to paste text in the hexagon, or [contextmenu] on page >')}}
                [translate(contextmenu.edit)].<br><br>
                {{_('You will see text editor with standart rich text editor functions powered by')}} <a style="color: var(--black-c);" href="https://quilljs.com">Quill</a>
                <div class="note">{{ _('You can edit content only in your own chains') }}</div>
            </p>
        </div>
        <div class="text">
            <h3 id="aboutCom">{{_('Comments and rating')}}</h3>
            <p>{{_('To leave a comment, switch to the comments tab, enter your comment in the text box, and send it. Comments are shared across the entire chain, as is the rating, which can be seen in the upper-right corner')}}</p>
            <p>{{_('You can reply to any comment by clicking on the [three dots] in the upper-right corner of the comment > [reply] or write "[reply /some_username/]" - and your comment will be send to the latest comment by user with /some_username/')}}
            </p>
            <hr>
            <p>{{_('*The chain rating* is a number determined by users, indicating the usefulness and literacy of information in the chain. Each user can either add one to the overall rating, or take it away using the [&nbsp+&nbsp] and [&nbsp-&nbsp] buttons')}}.</p>
            <div class="note">{{_('In addition to the chains, users also have a rating, and using [dropmenu] (opens if you click to your name in the header) > [User list] you can see top users by rating')}}</div>
        </div>
        <div class="text">
            <h2 id="aboutR">{{_('Community rules')}}</h2>
            <p class="note">
                {red:{{ _('If you do not comply with our rules, you may be banned') }}} <br><br>
                {{ _('Administration can delete your account or ban your IP-adress, so we recomended to follow our rules') }}
                <br><br>
                {{ _('If you think that any hexagon, chain or comment break the rules, report it to one of the admins in the chat or via') }}
                <a href="#ctxmenuC">translate(contextmenu.complain)</a>
            </p>
            <ol>
                <li>{{ _('Do not use profanity or offensive words in relation to other users. *Stay cultured people*') }}.</li>
                <li>{{ _('Make sure that the content you post in Library Hexagon belongs to you or does not infringe on other people\'s *intellectual property rights*') }}</li>
                <li>{{ _('The Library Hexagon prohibits the publication of materials containing') }}
                    <ul style="margin-top: .4em;">
                        <li>{{ _('Sensitive content 18+') }}</li>
                        <li>{{ _('Violent or dangerous content') }}</li>
                        <li>{{ _('Promotion of smoking or alcohol') }}</li>
                        <li>{{ _('Discussion of prohibited goods') }}</li>
                    </ul>
                </li>
                <li>{{ _('*Do not spam* other users in chats. If you are being spammed by anyone, please let us know') }}
                </li>
            </ol>
        </div>
    </div>
    <div class="content-block">
        <h2 id="msgs">{{ _('Messages') }}</h2>
        <div class="text">
            <h3 id="msgsC">{{ _('Chats') }}</h3>
            <div> {{ _('In the Library Hexagon you can communicate internally using inbox messages') }}.<br><br>
                <div>{{ _('At the moment, there is an opportunity') }}</div>
                <ul style="margin-top: .4em;">
                    <li>
                        {{ _('to create a chat with several users for *group correspondence*') }} -
                        {{ _('In the [dropmenu], click messages and when you see the chat panel in front of you, click [add chat]. In the modal window that appears, enter the name of the chat and the members separated by commas (you can add them later)') }}.
                    </li>
                    <li>
                        {{_('Or write to one user directly and start a *private chat*')}} -
                        {{_('On the page of any user (you can get through [dropmenu] > [User list]), click open chat, your messages will open, and if you do not have a chat with this user yet, it will be automatically created')}}.
                    </li>
                </ul>
                <p class="note">
                    {{ _('Chats are not designed to transmit important or secret information, so be careful and choose other messengers for confidential communication') }}
                </p>
                <hr>
                <p>{{ _('You can *delete* any chat that you have created at any time, but you must remember that all messages in this case will be permanently lost') }}</p>
            </div>
        </div>
        <div class="text">
            <h3 id="msgsM">{{_('Members and chat control')}}</h3>
            <p>{{ _('If you are a chat creator, you can manage its members and settings. You can also always quit from any chat.') }}
            </p>
            <p class="note">{{ _('{red:Remember!} If you leave the chat you will not be able to return') }}</p>
            <hr>
            <div>{{ _('To *add or delete* members in chat you need to open caht info panel by clicking the [&nbspi&nbsp] button in right corner of the chat. In this panel, you will see a list of participants, and if you are the chat admin') }}, 
                    <ul style="margin-top: .4em;">
                        <li>{{ _('you can *remove* any member by using the [cross] next to the name') }},</li>
                        <li>{{ _('*add* a member by clicking on the [three dots] in the upper left corner of the panel') }},</li>
                        <li>{{ _('and *change* the role of the member by clicking on the {role:role indicator} to the left of the username') }}</li>
                    </ul>
                </div>
        </div>
        <div class="text">
            <h3 id="msgsE">{{_('Messages and entities')}}</h3>
            <p>{{_('In addition to the plain text, chat messages can display various entities or mentions of users using a special syntax or')}}
                <a href="#ctxmenuS">translate(contextmenu.send)</a> {{_('button')}}</p>
            <p class="note">{{ _('About *deleting* messages: You can delete a message by clicking on the [cross] in the upper-right corner of the message. If you are a member, you can only delete your messages, the admin can delete any') }}.</p>
            <div class="text">
                <h4 id="msgsU">{{_('Users mentions')}}</h4>
                <p>{{_('You can mention any Library Hexagon user using the standard mentions syntax')}}:</p>
                <div>@/some_user/ > @<a href="/users/some_user_id">/someuser/</a></div>
            </div>
            <div class="text">
                <h4 id="msgsH">{{_('Hexs or chains')}}</h4>
                <p>{{_('When you need to discus any hex or chain from Library Hexagon, you can use such syntax (/some_id/ must be number, /attachment_number/ is serial number of the attachment), or use ')}}
                    <a href="#ctxmenuS">translate(contextmenu.send)</a>:</p>
                <div>[hex /some_id/] > <a href="/hexs/some_id">[attachment /attachment_number/]</a></div>
                <div>[chain /some_id/] > <a href="/cjain/some_id">[chain /some_id/]</a></div>
            </div>
            <div class="text">
                <h4 id="msgsL">{{_('Links')}}</h4>
                <p>{{_('If you want to paste link, use this syntax')}}:</p>
                <div> [link /placeholder/ :example.com] > <a href="http://example.com">/placeholder/</a></div>
            </div>
        </div>
    </div>
    <!-- <div class="content-block">
            <h2 id="msgs">{{ _('Settings') }}</h2>
        </div> -->
</div>

<ul class="nav">
    <li>
        <div class="nav-block">
            <a href="#hexs">{{_('Hexagons')}}</a>
            <ul>
                <li><a href="#hexsC">{{_('Creations')}}</a></li>
                <li><a href="#hexsD">{{_('Deletions')}}</a></li>
                <li><a href="#hexsU">{{_('Updations')}}</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="nav-block">
            <a href="#about">{{_('About page')}}</a>
            <ul>
                <li><a href="#aboutCon">{{_('Content')}}</a></li>
                <li><a href="#aboutCom">{{_('Comments')}}</a></li>
                <li><a href="#aboutR">{{_('Rules')}}</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="nav-block">
            <a href="#msgs">{{_('Messages')}}</a>
            <ul>
                <li><a href="#msgsC">{{_('Chats')}}</a></li>
                <li><a href="#msgsM">{{_('Members')}}</a></li>
                <li>
                    <a href="#msgsE">{{_('Entities')}}</a>
                    <ul>
                        <li><a href="#msgsU">{{'Users'}}</a></li>
                        <li><a href="#msgsH">{{'Hexs'}}</a></li>
                        <li><a href="#msgsL">{{'Links'}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <!-- <li>
            <div class="nav-block">
                <a href="#setts">{{_('Settings')}}</a>
            </div>
        </li> -->

</ul>

{% endblock %}