{% extends "layout.html" %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </p>
        <p class="remember">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <style>
        label{
            display: block;
            margin-bottom: 7px;
        }
        p{
            margin: 7px 0;
        }
        .remember > label{
            display: inline;
        }
    </style>
{% endblock %}

{% block btns %}
    <button class="auth" onclick="window.location.href = `{{ url_for('registration') }}`">Register</button>
    <button class="back" onclick="window.location.href = `{{ url_for('index') }}`">Back</button>
{% endblock %}
