{% extends "layout.html" %}

{% block head %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
    <h1>{{ _('Register') }}</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: inherit;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
                <span style="color: inherit;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: inherit;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
                <span style="color: inherit;">{{ error }}</span>
            {% endfor %}
        </p>
        <div class="g-recaptcha" data-sitekey="6LePNPEaAAAAAHwXDqhhLC6NjQVqWyssBAWgE-JS"></div>
        <p>{{ form.send() }}</p>
    </form>
    <style>
        label{
            display: block;
            margin-bottom: 7px;
        }
        p{
            margin: 7px 0;
        }
        input:not([type='submit']){
            width: var(--recaptcha-w);
            box-sizing: border-box;
        }
        .recaptcha-required{
            color: var(--red-c);
        }
    </style>
    <script>
        document.querySelectorAll('#username, #password').forEach(elem => {
            elem.addEventListener('change', evt => {
                evt.target.value = evt.target.value.replace(/\s+/gi, '')
            });
        });

        window.onload = () => {
            setCSSProps({
                // 'recaptcha-w': document.querySelector('#rc-anchor-containers').offsetWidth + 'px'
            }); 
        }

        document.querySelector('form').onsubmit = evt => {
            evt.preventDefault();

            if(grecaptcha.getResponse()){
                evt.target.submit();
            }else{
                !document.querySelector('.recaptcha-required') 
                && document.querySelector('.g-recaptcha').insertAdjacentHTML('afterend', '<div class="recaptcha-required">Recaptcha required</div>')
            }
        }
    </script>
{% endblock %}