{% extends "layout.html" %}

{% block content %}
    <h1>Users</h1>
    <ol class="users-list">
        {% for user_in_list in users %}
            <li class="user-in-list-cont" id='u{{user_in_list.id}}'>
                <div class="user-in-list">
                    <div class="user-in-list-info">
                        <span class="role">{{ user_in_list.role.name }}</span>
                        <a href="{{ url_for('user', id=user_in_list.id) }}" class="username">{{ user_in_list.username }}</a>
                        <span class="email">{{ user_in_list.email }}</span>
                    </div>
                    <span class="rating">{{ user_in_list.get_rating() }}</span>
                </div>
                {% if user.role.name == 'admin' %}
                    <button class="user-delete">Delete</button>
                {% endif %}
            </li>
        {% endfor %}  
    </ol>
    <style>
        @media (max-width: 580px){
            button{
                margin: 5px;
            }
        }
    </style>
    <script>
        document.querySelectorAll('.user-delete').forEach(btn => {
            btn.onclick = () => {
                fetch('/users/delete/' + btn.parentElement.id.replace('u', ''), {
                    method: 'DELETE'
                });

                btn.parentElement.remove();
            }
        });
    </script>
{% endblock %}