{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='other/users.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>{{_('Users')}}</h1>
    <ol start="0" class="users-list">
        <li class="user-in-list-cont user-in-list-legend">
            <div class="user-in-list">
                <div class="user-in-list-info">
                    <span class="role">{{_('Role')}}</span>
                    <span class="username">{{ _('Username') }}</span>
                </div>
                <span class="rating">{{ _('Rating') }}</span>
            </div>
        </li>
        {% for user_in_list in users %}
            {% if not user_in_list.is_hidden or user.role.name == 'admin' %}
                <li class="user-in-list-cont {% if user_in_list.id == user.id %} user-in-list-me {% endif %} {% if user_in_list.is_hidden %} user-in-list-hidden {% endif %}" id='u{{user_in_list.id}}'>
                    <div class="user-in-list">
                        <div class="user-in-list-info">
                            <span class="role">{{ user_in_list.role.name }}</span>
                            <a href="{{ url_for('user', id=user_in_list.id) }}" class="username">{{ user_in_list.username }}</a>
                        </div>
                        <span class="rating">{{ user_in_list.get_rating() }}</span>
                    </div>
                    {% if user.role.name == 'admin' and user_in_list.id != user.id %}
                        <div class="user-in-list-btns">
                            <button class="user-in-list-delete">Delete</button>
                            <button class="user-in-list-changeV">Change visibility</button>
                            <button class="user-in-list-ban">Ban</button>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
            
        {% endfor %}  
    </ol>
    <style>
        @media (max-width: 580px){
            button{
                margin: 5px;
            }
        }
    </style>
{% endblock %}

{% block btns %}
    <button class="user-toggle-visibility"> {% if user.is_hidden %}{{ _('Show') }}{% else %}{{ _('Hide') }}{% endif %} {{ _('me in list') }}</button>
{% endblock %}